.login{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.login-form{
    height: 300px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5); /* Adjust opacity as needed */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Adjust border color and opacity */
    padding: 20px;
    /* width: 400px; */
}
.login-form input{
    background-color: transparent;
}
.login-form input:focus{
    background-color: transparent;
    color: blue;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
  }
  